@charset "utf-8";

/* CSS Document */
/* Project: Tech Vault */
/* Team Members: Josh Wagner, Connor Kish, Nick Trout */
/* File: product-management.css */
/* Last Updated: 3/13/22 */
/* Last Updated By: Connor Kish */

#action-select-container {
	text-align: center;
	margin-top: 5%;
}

#new-product {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#edit-product {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#delete-product {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#product-details-container {
	margin-top: 5%;
	width: 100%;
	
}

#product-details-form{
	text-align: center;
}

labels {
	display: inline-block;
	text-align: right;
	margin-left: 5%;
}

#ProductID {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#Manufacturer {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#ProductName {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#ProductDescription {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#Category {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#Quantity {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#Price {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#Weight {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

#form-actions {
	margin-top: 5%;
}

#save {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#update {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#delete {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}

#cancel {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
}